.App {
  font-family: sans-serif;
  text-align: center;
}

.header-logo {
  background-color: #002035;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.calc .css-1m3tel9-MuiButtonBase-root-MuiButton-root {
  background-color: #05ad43 !important;
}

.css-sm3wc6-MuiSlider-root {
  color: #05ad43 !important;
}

button.selected {
  background-color: #05ad43;
}

button.unselected {
  background-color: transparent;
  color: black;
}
button:hover {
  color: white;
  background-color: #02712b !important;
}
