.App {
  font-family: sans-serif;
  text-align: center;
}

.header-logo {
  background-color: #002035;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

button:hover {
  color: white;
  background-color: #02712b !important;
}

button.selected {
  background-color: #05ad43;
}

button.unselected {
  background-color: transparent;
  color: black;
}

@media screen and (max-width: 600px) {
  .MuiSlider-markLabel {
    font-size: 12px;
  }
}