* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.header-logo {
  background-color: #002035;
}

.logo-img {
  position: relative;
  top: 50px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 40px auto 0 auto;
}

button:hover {
  color: white;
  background-color: #02712b !important;
}

button.selected {
  background-color: #05ad43;
}

button.unselected {
  background-color: transparent;
  color: black;
}

@media screen and (max-width: 768px) {
  .MuiSlider-markLabel {
    font-size: 12px !important;
  }

  .container {
    padding: 0 10px;
  }
}